body{
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
}
#nav-colors{
    background-color: #660066;
    font-family: 'Open Sans', sans-serif;
    color:#FFFFFF;
    font-size: 16px;
}
header {
    background-image: url('../img/foto_dante.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 3rem;
  }
#line{
    width:30%;
    height:3px;
    background-color: #ffffff;
}
#line2{
    margin-top:50px;
    margin-bottom:70px;
    width:10%;
    height:1px;
    background-color: #000000;
}
#line3{
    margin-top:50px;
    margin-bottom:70px;
    width:10%;
    height:1px;
    background-color: #ffffff; 
}
.text-bottom-center{
    margin-top:200px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.title-color{
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
.experiencia-text-color{
    color: #373A3C;
    font-family: 'Oswald', sans-serif;
}
.secondary-text-color{
    color: #373A3C;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.body-text-color{
    color: #373A3C;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align:left;
}
footer{
    background-color: #660066;
}
footer a{
    text-decoration: none; 
    pointer-events: none;
    color:#ffffff;
}
#experiencia i{
    color:#660066
}
#ultimos_trabajos{
    background-color: #660066; 
}
.comando{
    height:171.594px;
}
.card{
    margin-bottom: 50px;
}